name: Test Container
on:
  push:
    branches:
      - '**'
    paths:
      - '.github/workflow/test-container.yml'
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  linux-cross-aarch64:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:devel
      options: --privileged
    services:
      binfmt:
        image: tonistiigi/binfmt
        options: --privileged tonistiigi/binfmt
    steps:
      - name: Check qemu
        run: |
          mount -t binfmt_misc none /proc/sys/fs/binfmt_misc
          echo "bin formats:"
          ls /proc/sys/fs/binfmt_misc
